.ItemsContainer {    
    text-align: center;
    padding: 1rem;
    margin-top: 10rem ;
    border-radius: 5%;
    background: black;
    color: azure;
}
.ItemsContainerProductos {
    text-align: center;
    padding: 1rem;
    margin: 1rem 35rem;
    background: linear-gradient(0deg, rgba(214, 14, 14, 0.719) 0%, rgba(0,0,0,1) 100%);
    border-radius: 2rem;
    color: azure;
}

body{
    background-color: black;
}