.cardProducto {
    background: radial-gradient(circle, rgba(0,0,0,1) 80%, rgba(255,0,0,0.6306897759103641) 100%);    border-radius: 10px;
    border: 1px solid rgba(148, 35, 35, 0.719);
    width: 15rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: azure;
}

.imgProducto {
    width: 150px;
    object-fit: contain;
}

.btnProducto {
    background-color: #000000;
    color: white;
    font-size: 1.2rem;
    width: 8rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}