.imgCarrito {
    width: 4.5rem;
}

.numeroCarrito {   
    border-radius: 20%;
    padding: 0.3rem;
    margin-left: 0.5rem;
    color: #fff;
}

.btnCarrito {
    padding: 0 2rem;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    outline: none;
}
a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}