
  .logo{
    width: 100px;
    height: auto;
  }
  nav{
    background: rgb(0,0,0);
    background: linear-gradient(220deg, rgba(0,0,0,1) 65%, rgba(219,8,8,0.8463760504201681) 95%);
    box-shadow: 0 10px 30px rgba(255, 0, 0, 0.685);
    font: 10px, color #fafafa;
  }
  nav ul {
    display: block;
    list-style: none;
  }
  nav li {
    display: block;
    padding: 50px;
  }
  nav a {
    position: relative;
    padding-bottom: 0.75rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  nav a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(255, 8, 8);
    transition: 0.3s;
  }
  nav a:hover::after {
    width: 50%;
  }