button {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}

p {
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
    text-align: center;
}

.contador {
    display: flex;
    justify-content: center;
}

.numContador {
    border-radius: 30%;
    padding: 1rem;
    color: white;
    font-size: 35px;
    margin: 0 15px;
}

.btnCont {
    font-size: 3rem;
    padding: 0;
    background-color: #873232;
    color: white;

}

.btnAgregar {
    background-color: white;
    color: black;
    border-radius: 50rem;
}

.btnAgregar:hover{
    background-color: black;
    color: white;
}